body {
    font-family: "Raleway", sans-serif
}

body {
    position: relative;
}

.navbar {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 200px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 30px;
}

.navbar ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.navbar li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.navbar a {
    text-decoration: none;
    color: #000;
    transition: transform 0.1s ease, color 0.1s ease;
}

.navbar a:hover {
    color: #007bff;
    transform: scale(1.8);
    text-decoration: none;
}


h2 {
    margin-top: 40px;
    /*color: #4c5c96;*/
    color: black;
    font-weight: bold;
}

h1{
    font-weight: bolder;
}

.container {
    max-width: 800px;
    margin: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 2px;
    background: #333;
    margin-top: 10px;
    margin-bottom: 30px;
}


.education-section {
        margin-top: 20px;
}
.education-item {
        margin-bottom: 20px;
}
.education-header {
        display: flex;
        justify-content: space-between;
}
.education-details {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        font-size: 15px;
}
.details-list {
        margin-top: 10px;
        padding-left: 20px;
}
.details-list li {
        list-style-type: disc;
}


.projects-section {
        margin-top: 20px;
}
.project-item {
        margin-bottom: 20px;
}
.project-header {
        display: flex;
        align-items: baseline;
}
.project-header strong {
        margin-right: 8px;
}

.project-header img {
        position: relative;
        top: -2px;
}

.project-description {
        margin-top: 10px;
        padding-left: 20px;
}
.project-description li {
        list-style-type: disc;
}

.skills-list {
        list-style-type: none;
        padding-left: 0;
        margin-left: 5px;
}
.skills-list p {
        margin: 3px 0;
}

.teaching-experience-list {
        list-style-type: none;
        padding-left: 0;
        margin-left: 5px;
}
.teaching-experience-list li {
        margin: 5px 0;
}

.honors-section p {
        margin-left: 5px;
        margin-bottom: 15px;
}

.languages-section p {
     margin-left: -25px;
     margin-bottom: 5px;
}
.extracurricular-section {
        margin-top: 20px;
}
.activity-list {
        list-style-type: none;
        padding-left: 0;
        margin-left: 5px;
}
.activity-description {
        list-style-type: none;
        padding-left: 20px;
        margin-top: 5px;
}
.activity-description li {
        margin-bottom: 5px;
}

.linkedin-icon {
        filter: grayscale(100%);
}

.icon-link {
    margin-left: 10px;
    margin-right: 10px;
}


/* Hide the navbar for mobile */
@media (max-width: 1024px) {
    .navbar {
        display: none; /* Hide navbar initially */
        position: fixed;
        top: 50px;
        left: 0;
        width: 50%;
        padding: 10px;
        background-color: #f8f9fa;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    .navbar-visible {
        display: block !important;
    }

    .navbar ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    .navbar ul li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: black;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1000;
        background: none;
        border: none;
        padding: 0;
    }
}

@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }
}

.btn-download-cv {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px ;
    margin-bottom: 2px;
    transition: background-color 0.3s ease;
}

.btn-download-cv:hover {
    background-color: #0056b3;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

/* Scroll to Top Button */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: #0056b3;
}

.btn-download-cv:hover{
    text-decoration: none;
}

.icon-link {
    display: inline-block;
    transition: transform 0.3s ease; /* Smooth transition effect */
}

.icon-link:hover {
    transform: translateY(-5px); /* Moves the element 5px upwards */
}

.publications-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 5px;
}
.grades-list{
    padding-left: 0;
    margin-left: 20px;
}
